body, h1, h2, h3, a, ul, p{
    padding: 0px;
    margin: 0px;
    color: black;
    text-decoration: none;
    ;
}

.top{
    width: 100%;
    height: 5px;
    background: white;
    padding: 10px 10px 35px 30px;
    position: fixed;
    text-align: left;
}

.logo {
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

.nubank-opcoes{
    max-width: 100%;
    float: left;
}

.nubank-opcoes li{
    margin-top: 5px;
    display: inline-block;
}

.nubank-opcoes a{
    display: block;
    font-size: 15px;
    margin-left: 28px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.login li{
    margin-top: 5px;
    margin-right: -530px;
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.login {
    float: right;
    padding: 0px 150px 100px 100px;
}

.login a{
    color: #820ad1;
}


/* Fim do header/menu do topo, início das imagens */

.imagem {
    background: url('./img/img1.png') no-repeat center center;
    background-size: 100%;
    max-height: 100%;
    max-width: 100%;
    height: 650px;
}

.imagem h1 {
    padding: 280px 0 0 0;
    margin-left: 150px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imagem h2 {
    margin-left: 150px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.form {
    box-sizing: border-box;
    float: right;
    background: white;
    width: 330px;
    max-width: 100%;
    height: 310px;
    max-height: 100%;
    border-radius: 15px;
    text-align: left;
    padding: 20px;
    margin-top: -255px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.form h3{
    color: black;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 70px;
    margin-left: 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
}

.name {
    color: #585858;
    font-size: 14px;    
    font-family: 'Cabin', sans-serif;
    margin-left: 10px;
}

.btn {
    background: #e7e7e7;
    font-family: 'Cabin', sans-serif;
    display: flex;
    justify-content: space-between;
    border: 0px;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin-top: 27px;
    font-size: 17px;
    padding: 20px;
}

.campo {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/* Parte 2 */

.part2 {
    height: 570px;
    background: white;
    max-height: 100%;
    font-family: 'Cabin', sans-serif;
}

.part2 h2{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-top: 90px;
}

.part2 h3{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.part2 a{
    color: #820ad1;
}

.link2 {
    margin-left: 80px;
}

.imgcartao {
    float: left;
    width: 45%;
    margin-top: 60px;
    margin-right: -50px;
}

.cartao {
    float: left;
    width: 55%;
}

/* Parte 3, Seção 3 */

.part3 {
    height: 570px;
    background: #f5f5f5;
    max-height: 100%;
    font-family: 'Cabin', sans-serif;
}

.part3 h2 {
    text-align: left;
    font-size: 48px;
    margin-left: 170px;
    margin-top: 170px;
}

.part3 h3 {
    text-align: left;
    font-size: 48px;
    margin-bottom: 20px;
    margin-left: 170px;
}

.part3 a {
    color: #820ad1;
}

.link3 {
    margin-left: 170px;
}

.ultra {
    float: left;
    width: 50%;
    margin-top: 210px;
}

.imgcartaoultra {
    float: left;
    width: 50%;
    margin-top: 220px;
}

/* Parte 4, Seção 4 */

.part4 {
    height: 570px;
    background: #f5f5f5;
    max-height: 100%;
    font-family: 'Cabin', sans-serif;
    margin-top
}

.part4 h2{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-top: 120px;
}

.part4 h3{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.part4 a{
    color: #820ad1;
}

.imgconta {
    float: left;
    width: 45%;
    margin-top: 120px;
    margin-right: -50px;
}

.conta {
    float: left;
    width: 55%;
}

.conta h2{
    margin-top: 200px;
}