body, h1, h2, h3, a, ul, p{
    padding: 0px;
    margin: 0px;
    color: black;
    text-decoration: none;
}

.top{
    width: 100%;
    height: 20px;
    background: white;
    padding: 10px 10px 35px 30px;
    text-align: left;
    position: fixed;
}

.logo {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.nubank-opcoes{
    max-width: 100%;
    float: left;
}

.nubank-opcoes li {
    margin-top: 10px;
    display: inline-block;
}

.nubank-opcoes a {
    display: block;
    font-size: 18px;
    margin-left: 33px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.login li{
    margin-top: 10px;
    margin-right: -530px;
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.login {
    float: right;
    padding: 0px 150px 100px 100px;
}

.login a{
    color: #820ad1;
}


/* Fim do header/menu do topo, início das imagens */

.imagem {
    background: url('./img/img1.png') no-repeat center center;
    background-size: cover;
    height: 865px;
}

.imagem h1 {
    padding: 370px 0 0 0;
    margin-left: 220px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.imagem h2 {
    margin-left: 220px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.form {
    box-sizing: border-box;
    background: white;
    max-width: 330px;
    height: 300px;
    float: right;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    margin-top: -205px;
    margin-right: 40px;
}

.form h3{
    color: black;
    font-size: 22px;
    margin-bottom: 80px;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
}

.name {
    color: #585858;
    font-size: 20px;    
    font-family: 'Cabin', sans-serif;
    margin-left: 10px;
}

.btn {
    background: #e7e7e7;
    font-family: 'Cabin', sans-serif;
    display: flex;
    justify-content: space-between;
    border: 0px;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 17px;
    padding: 20px;
}

.campo {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/* Parte 2 */

.part2 {
    height: 800px;
    background: white;
    max-height: 100%;
    font-family: 'Cabin', sans-serif;
}

.part2 h2{
    text-align: left;
    font-size: 48px;
    margin-left: 200px;
    margin-top: 270px;
}

.part2 h3{
    text-align: left;
    font-size: 38px;
    margin-left: 200px;
    margin-bottom: 23px;
}

.part2 a{
    color: #820ad1;
}

.link2 {
    margin-left: 200px;
}

.imgcartao {
    float: left;
    width: 45%;
    margin-top: 200px;
}

.cartao {
    float: left;
    margin-left: 200px;
}

/* Parte 3, Seção 3 */

.part3 {
    height: 800px;
    background: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}

.part3 h2 {
    text-align: left;
    font-size: 48px;
    margin-left: 220px;
}

.part3 h3 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 23px;
    margin-left: 220px;
}

.part3 a {
    color: #820ad1;
}

.link3 {
    margin-left: 220px;
}

.ultra {
    float: left;
    width: 45%;
    margin-top: 350px;
}

.imgcartaoultra {
    float: left;
    margin-top: 200px;
    margin-left: 100px;
}

/* Parte 4, Seção 4 */

.part4 {
    height: 900px;
    background: white;
    max-height: 100%;
    font-family: 'Cabin', sans-serif;
}

.part4 h2{
    text-align: left;
    font-size: 48px;
    margin-left: 400px;
    margin-top: 270px;
}

.part4 h3{
    text-align: left;
    font-size: 38px;
    margin-left: 400px;
    margin-bottom: 23px;
}

.part4 a{
    color: #820ad1;
}

.link2 {
    margin-left: 400px;
}

.conta {
    width: 55%;
    float: left;
}

.imgconta {
    width: 45%;
    float: left;
    margin-top: 220px;
}

/* Fim parte 4 */

.part5 {
    background: url('./img/img5.png') no-repeat center center;
    background-size: cover;
    height: 860px;
    font-family: 'Cabin', sans-serif;
}

.part5 h2{
    padding: 337px 0 0 0;
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: 48px;
    color: white;
}

.part5 h3{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.part5 a{
    color: white;
}

.link5 {
    margin-left: 500px;
}


.part6 {
    background: url('./img/img6.png') no-repeat center center;
    background-size: cover;
    height: 860px;
    font-family: 'Cabin', sans-serif;
}

.part6 h2{
    padding: 337px 0 0 0;
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: 48px;
    color: white;
}

.part6 h3{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.part6 a{
    color: white;
}

.link5 {
    margin-left: 500px;
}




.part7 {
    background: url('./img/img7.png') no-repeat center center;
    background-size: cover;
    height: 860px;
    font-family: 'Cabin', sans-serif;
}

.part7 h2{
    padding: 337px 0 0 0;
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: 48px;
    color: white;
}

.part7 h3{
    text-align: left;
    font-size: 48px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.part7 a{
    color: white;
}

.link7 {
    margin-left: 500px;
    color: #820ad1;
}

.footer1{
    background-color: #111111;
    width: 100%;
    height: 500px;
}

.sec1{
    width: 23%;
    float: left;
}

.sec2{
    width: 23%;
    float: left;
}

.sec3{
    width: 23%;
    float: left;
}

.sec4{
    width: 23%;
    float: left;
}

.sec1, .sec2, .sec3, .sec4{
    margin-top: 150px;
    color: white;
}

.sec1 a, .sec2 a, .sec3 a, .sec4 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Cabin', sans-serif;
}

.sec1 h2, .sec2 h2, .sec3 h2, .sec4 h2{
    color: white;
    font-family: 'Cabin', sans-serif;
    padding-left: 8%;
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: bold;
}

.sec1 li, .sec2 li, .sec3 li, .sec4 li{
    list-style: none;
    padding-left: 8%;
    margin-bottom: 15px;
}

.sec1 li a:hover, .sec2 li a:hover, .sec3 li a:hover, .sec4 li a:hover{
    color:#820ad1;
}

.footer2{
    float: left;
    background-color: #111111;
    width: 100%;
    height: 550px;
}

.footer3{
    width: 100%;
    height: 110px;
    background-color: #111111;
    float: left;
    border-top: solid 1px #191919;
    border-bottom: solid 1px #191919;
}

.footerimg{
    padding: 30px;
    float: left;
}

.footer3 p{
    float: left;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    padding: 30px;
    color: white;
}

.fa-solid{
    margin-left: 10px;
}

.social{
    float: right;
    list-style: none;
    color: white;
}

.social li{
    display: inline-block;
    padding: 30px;
}

.social a{
    color: white;
}
.social a:hover{
    color: #820ad1;
}
